# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
#ignore
dgis.js

#ignore file index_first_test.html
index_first_test.html

#ignore file index_test.html
index_test.html

#ignore file PicnicSites.geojson
PicnicSites.geojson

#ignore vtrigas_8625104_lcb.pdf filr - Leaflet Cookbook (book) locate press
vtrigas_8625104_lcb.pdf
/index_working_test.html
/leaflet.ajax.min.js
/js/
